#welcome-main
{
	margin-top:140px;
}
#firstMessage
{
	background-color:black;
	padding:25px;
	font-size: 25px;
	border-radius: 15px;
	border:solid ;
}
#quotesContactForm
{
	background-color: black;
	margin-top:10px;
	font-family: 'Bitter', serif;
	padding:20px;
	font-size: 12px;
	border-radius: 15px;
	border:solid ;
}
#quote_form_header
{
	padding:25px;
	font-size: 18px;
}
