
#project_container
{
  margin-top: 150px;
  background:#45433d;
  font-family: 'Bitter', serif;
  border:solid;
  border-radius: 15px;
  padding:15px;
}
.project_body
{
	padding-left:40px;
	padding-top:20px;
	padding-bottom: 20px;
	list-style: none;
}
.project_body li
{
	padding:5px;
}
.projectTitle
{
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  font-size: 27px;
}
