#contactInformationContainer
{
	margin-top: 150px;
	background:black;
	font-family: 'Bitter', serif;
	border:solid;
	border-radius: 15px;
	padding:15px;
}
.fa
{
	margin-right:5px;

}
#contact_form_header
{

	padding-top:13px;
	padding-bottom: 0px;
	font-size: 20px;
	font-family: 'Bitter', serif;
}
#living
{
	font-family: 'Bitter', serif;
}
#myInfo 
{
	list-style: none;
}